<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">Spis piosenek</a>
     <center> 
        Radio Ruby
       </center>
      <ul class="nav pull-right">
        <li><%= link_to "Link 1", "https://www.google.pl/" %></li>
      </ul>
    </div>
  </div>
</div>
